.page-header {
    margin-left: 40px;
    margin-top: 30px;
    color: green;
    padding-right: 10px;
}

h3 {
    color: rgba(0, 0, 255, 1);
    background-color: #f1f516;
}

h2 {
    color: white;
}

.gradient {
    text-align: center;
    vertical-align:middle;
    width: 100%;
    height: 100px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 89%);
}